
/Debug
/DebugPackedShaders
/Release
/GodComplex.opensdf
/GodComplex.sdf
/Tools/GodComplex.exe
/Tools/GodComplex_PACKED.exe
/.gitignore
/Tools/ConcatenateShaders/bin
/Tools/ConcatenateShaders/obj
/Packages/Cirrus.Utility/bin
/Packages/Cirrus.Utility/obj
/Packages/SharpMath/Debug
/Packages/SharpMath/obj
/Packages/SharpMath/Release
/Packages/SphericalHarmonicsLibrary/bin
/Packages/SphericalHarmonicsLibrary/obj
/Tools/TestFerroFluids/bin
/Tools/TestFerroFluids/obj
/Tools/PNG2RAW/obj
/Tools/PNG2RAW/bin
/Tools/BRDFLafortuneFitting/bin
/Tools/BRDFLafortuneFitting/obj
/Tools/BRDFLafortuneFitting.pdb
/Tools/BRDFLafortuneFitting.vshost.exe
/Tools/SharpMath.pdb
/Tools/TestBRDF/aluminium.binary
/Tools/BRDFLafortuneFitting2/bin
/Tools/BRDFLafortuneFitting2/obj
/Tools/BRDFSlices/obj
/Tools/PhilBackup/obj
/Tools/PhilBackup/bin
/Tools/BRDFSlices.vshost.exe.manifest
/Tools/GodComplex_PACKED.rar
/Tools/Intersections256x256.double
/Tools/Intersections256x256.float
/Tools/Intersections64x64.double
/Tools/Intersections64x64.float
/Tools/TestBRDF/aluminium.cos
/Debug Workshop
/Tools/PNG2RAW/LayeredMaterial0-Height.png
/Tools/PNG2RAW/LayeredMaterial0-Height.raw
/Tools/PNG2RAW/LayeredMaterial0-Layer0.png
/Tools/PNG2RAW/LayeredMaterial0-Layer0.raw
/Tools/PNG2RAW/LayeredMaterial0-Layer1.png
/Tools/PNG2RAW/LayeredMaterial0-Layer1.raw
/Tools/PNG2RAW/LayeredMaterial0-Layer2.png
/Tools/PNG2RAW/LayeredMaterial0-Layer2.raw
/Tools/PNG2RAW/LayeredMaterial0-Layer3.png
/Tools/PNG2RAW/LayeredMaterial0-Layer3.raw
/Tools/PNG2RAW/LayeredMaterial0-Specular.png
/Tools/PNG2RAW/LayeredMaterial0-Specular.raw
/Tools/PNG2RAW/PlankForNormals.png
/TestDevice
/Tools/HDR2RAW/bin
/Tools/HDR2RAW/obj
/Tools/HDR2RAW/doge2.hdr
/Tools/HDR2RAW/doge2_1024x512.float
/Tools/HDR2RAW/doge2_1024x512.hdr
/Tools/HDR2RAW/ennis_1024x512.float
/Tools/HDR2RAW/ennis_1024x512.hdr
/Tools/HDR2RAW/grace-new.hdr
/Tools/HDR2RAW/grace-new_1024x512.float
/Tools/HDR2RAW/grace-new_1024x512.hdr
/Tools/HDR2RAW/pisa.hdr
/Tools/HDR2RAW/pisa_1024x512.float
/Tools/HDR2RAW/pisa_1024x512.hdr
/Tools/HDR2RAW/uffizi-large.hdr
/Tools/PNG2RAW/LayeredMaterial1-Height.raw
/Tools/PNG2RAW/LayeredMaterial1-Layer0.raw
/Tools/PNG2RAW/LayeredMaterial1-Layer3.raw
/Tools/PNG2RAW/LayeredMaterial1-Specular.raw
/Tools/PNG2RAW/LayeredMaterial2-Height.png
/Tools/PNG2RAW/LayeredMaterial2-Layer0.png
/Tools/PNG2RAW/LayeredMaterial2-Layer1.png
/Tools/PNG2RAW/LayeredMaterial3-Height.png
/Tools/PNG2RAW/LayeredMaterial3-Layer0.png
/Tools/PNG2RAW/LayeredMaterial3-Layer1.png
/Tools/PNG2RAW/LayeredMaterial3-Layer2.png
/Tools/PNG2RAW/LayeredMaterial3-Layer3.png
/Tools/PNG2RAW/LayeredMaterial3-Specular.png
/Tools/TestImportanceSampling/obj
/Tools/TestImportanceSampling/bin
/Tools/TestDCT/obj
/Tools/TestDCT/bin
/CellularNoise.float
/Contention On 2nd DrawZ.nvgfxtimings
/GodComplex.vcxproj.patapom.nvuser
/GodComplex2012.sdf
/Graphics Experiment.vsglog
/Tools/TestMemoryMappedFiles/bin
/Tools/TestMemoryMappedFiles/obj
/Tools/FBXConverter/Debug
/Packages/SharpMath/bin/x64/Debug/SharpMath.dll
/Packages/SharpMath/bin/x64/Debug/SharpMath.pdb
/Tools.opensdf
/Tools.sdf
/Packages/FBXImporterManaged/Debug
/Packages/FBXImporterManaged/Release
/Packages/FBXSceneLoader/bin
/Packages/FBXSceneLoader/obj
/Packages/FBXImporterManaged/x64
/Runtime/*.pdb
/Runtime/*.pdb

/Runtime/FBXImporterManaged.dll.metagen
/Runtime/FBXImporterManaged.ilk

/Runtime/FBXImporterManaged.dll
/Runtime/SharpMath.dll
/Packages/DirectXTex/DirectXTex/Bin
/Tools/DirectXTexManaged/x64
/Tools/DirectXTexManaged/Debug
/Tools/DirectXTexManaged/Release
/Tools/HDRCubeMapConvolver/obj
/Tools/HDRCubeMapConvolver/bin
/Tools/TestFilmCurve/obj
/Tools/TestFilmCurve/bin
/Tools/TestGradientPNG/obj
/Tools/TestGradientPNG/bin
/x64
/Tools/FBXTestConverter/obj
/Tools/FBXTestConverter/bin
/Tools/FBXConverter/x64
/Packages/FFTWLib/obj
/Packages/FFTWLib/bin
/Tools/BRDFSlices/bin
/Tools/MotionTextureComputer/obj
/Tools/MotionTextureComputer/bin

/Resources/Scenes/patascene.rar
/Resources/Scenes/GITest0/.mayaSwatches

/Resources/Scenes/GITest1/pata_diff_colo.png

/Resources/Scenes/CubeTest/.mayaSwatches/*.swatches

/Packages/FBXImporterManaged/Release (SDK v2011.3.1)/*.cache
