
/Debug
/DebugPackedShaders
/Release
/GodComplex.opensdf
/GodComplex.sdf
/Tools/GodComplex.exe
/Tools/GodComplex_PACKED.exe
/.gitignore
/Tools/ConcatenateShaders/bin
/Tools/ConcatenateShaders/obj
/Packages/Cirrus.Utility/bin
/Packages/Cirrus.Utility/obj
/Packages/SharpMath/Debug
/Packages/SharpMath/obj
/Packages/SharpMath/Release
/Packages/SphericalHarmonicsLibrary/bin
/Packages/SphericalHarmonicsLibrary/obj
/Tools/TestFerroFluids/bin
/Tools/TestFerroFluids/obj
/Tools/PNG2RAW/obj
/Tools/PNG2RAW/bin
/Tools/BRDFLafortuneFitting/bin
/Tools/BRDFLafortuneFitting/obj
/Tools/BRDFLafortuneFitting.pdb
/Tools/BRDFLafortuneFitting.vshost.exe
/Tools/SharpMath.pdb
/Tools/TestBRDF/aluminium.binary
/Tools/BRDFLafortuneFitting2/bin
/Tools/BRDFLafortuneFitting2/obj
/Tools/BRDFSlices/obj
/Tools/PhilBackup/obj
/Tools/PhilBackup/bin
/Tools/BRDFSlices.vshost.exe.manifest
/Tools/GodComplex_PACKED.rar
/Tools/Intersections256x256.double
/Tools/Intersections256x256.float
/Tools/Intersections64x64.double
/Tools/Intersections64x64.float
/Tools/TestBRDF/aluminium.cos
/Debug Workshop
/Tools/PNG2RAW/LayeredMaterial0-Height.png
/Tools/PNG2RAW/LayeredMaterial0-Height.raw
/Tools/PNG2RAW/LayeredMaterial0-Layer0.png
/Tools/PNG2RAW/LayeredMaterial0-Layer0.raw
/Tools/PNG2RAW/LayeredMaterial0-Layer1.png
/Tools/PNG2RAW/LayeredMaterial0-Layer1.raw
/Tools/PNG2RAW/LayeredMaterial0-Layer2.png
/Tools/PNG2RAW/LayeredMaterial0-Layer2.raw
/Tools/PNG2RAW/LayeredMaterial0-Layer3.png
/Tools/PNG2RAW/LayeredMaterial0-Layer3.raw
/Tools/PNG2RAW/LayeredMaterial0-Specular.png
/Tools/PNG2RAW/LayeredMaterial0-Specular.raw
/Tools/PNG2RAW/PlankForNormals.png
/TestDevice
/Tools/HDR2RAW/bin
/Tools/HDR2RAW/obj
/Tools/HDR2RAW/doge2.hdr
/Tools/HDR2RAW/doge2_1024x512.float
/Tools/HDR2RAW/doge2_1024x512.hdr
/Tools/HDR2RAW/ennis_1024x512.float
/Tools/HDR2RAW/ennis_1024x512.hdr
/Tools/HDR2RAW/grace-new.hdr
/Tools/HDR2RAW/grace-new_1024x512.float
/Tools/HDR2RAW/grace-new_1024x512.hdr
/Tools/HDR2RAW/pisa.hdr
/Tools/HDR2RAW/pisa_1024x512.float
/Tools/HDR2RAW/pisa_1024x512.hdr
/Tools/HDR2RAW/uffizi-large.hdr
/Tools/PNG2RAW/LayeredMaterial1-Height.raw
/Tools/PNG2RAW/LayeredMaterial1-Layer0.raw
/Tools/PNG2RAW/LayeredMaterial1-Layer3.raw
/Tools/PNG2RAW/LayeredMaterial1-Specular.raw
/Tools/PNG2RAW/LayeredMaterial2-Height.png
/Tools/PNG2RAW/LayeredMaterial2-Layer0.png
/Tools/PNG2RAW/LayeredMaterial2-Layer1.png
/Tools/PNG2RAW/LayeredMaterial3-Height.png
/Tools/PNG2RAW/LayeredMaterial3-Layer0.png
/Tools/PNG2RAW/LayeredMaterial3-Layer1.png
/Tools/PNG2RAW/LayeredMaterial3-Layer2.png
/Tools/PNG2RAW/LayeredMaterial3-Layer3.png
/Tools/PNG2RAW/LayeredMaterial3-Specular.png
/Tools/TestImportanceSampling/obj
/Tools/TestImportanceSampling/bin
/Tools/TestDCT/obj
/Tools/TestDCT/bin
/CellularNoise.float
/Contention On 2nd DrawZ.nvgfxtimings
/GodComplex.vcxproj.patapom.nvuser
/GodComplex2012.sdf
/Graphics Experiment.vsglog
/Tools/TestMemoryMappedFiles/bin
/Tools/TestMemoryMappedFiles/obj
/Tools/FBXConverter/Debug
/Packages/SharpMath/bin/x64/Debug/SharpMath.dll
/Packages/SharpMath/bin/x64/Debug/SharpMath.pdb
/Tools.opensdf
/Tools.sdf
/Packages/FBXImporterManaged/Debug
/Packages/FBXImporterManaged/Release
/Packages/FBXSceneLoader/bin
/Packages/FBXSceneLoader/obj
/Packages/FBXImporterManaged/x64
/Runtime/*.pdb
/Runtime/*.pdb

/Runtime/FBXImporterManaged.dll.metagen
/Runtime/FBXImporterManaged.ilk

/Runtime/FBXImporterManaged.dll
/Runtime/SharpMath.dll
/Packages/DirectXTex/DirectXTex/Bin
/Tools/DirectXTexManaged/x64
/Tools/DirectXTexManaged/Debug
/Tools/DirectXTexManaged/Release
/Tools/HDRCubeMapConvolver/obj
/Tools/HDRCubeMapConvolver/bin
/Tools/TestFilmCurve/obj
/Tools/TestFilmCurve/bin
/Tools/TestGradientPNG/obj
/Tools/TestGradientPNG/bin
/x64
/Tools/FBXTestConverter/obj
/Tools/FBXTestConverter/bin
/Tools/FBXConverter/x64
/Packages/FFTWLib/obj
/Packages/FFTWLib/bin
/Tools/BRDFSlices/bin
/Tools/MotionTextureComputer/obj
/Tools/MotionTextureComputer/bin

/Resources/Scenes/patascene.rar
/Resources/Scenes/GITest0/.mayaSwatches

/Resources/Scenes/GITest1/pata_diff_colo.png

/Resources/Scenes/CubeTest/.mayaSwatches/*.swatches

/Packages/FBXImporterManaged/Release (SDK v2011.3.1)/*.cache
/Tools/Cooker/bin
/Tools/Cooker/obj
/Packages/SharpMath/bin
/Tools/HDRCubeMapConvolver/HDRCubeMapConvolver

/Tools/HDRCubeMapConvolver/HDRCubeMapConvolver.7z
/Tools/ShaderInterpreter/obj
/Tools/ShaderInterpreter/bin
/Packages/SharpMath/Workshop.Math.dll
/Packages/SharpMath/Workshop.Math.pdb
/Packages/SphericalHarmonicsLibrary/ZonalHarmonicsFittingTest/obj/Debug/ZonalHarmonicsFittingTest.pdb

/GodComplex.suo
/Tools.suo
/Tools.v11.suo

/GodComplex2012.v11.suo
/Packages/FBXSceneLoader/fbx_whitepaper_nov2007.pdf
/Resources/Shaders/VolumetricPreComputeAtmospherePS - Before Distance Modifs.hlsl

/Tools/BRDFSlices.pdb
/Tools/Cirrus.Utility.pdb
/Tools/ProbeSHEncoder/bin
/Tools/ProbeSHEncoder/obj
/Tools/NormalDistributionLobeViewer/obj
/Tools/NormalDistributionLobeViewer/bin
/Packages/FBXImporterManaged/Release (SDK v2011.3.1)
/Packages/FBXImporterManaged/Debug (SDK v2011.3.1)
/Packages/FBXImporterManaged/Release

/Resources/Scenes/GITest1/.mayaSwatches/*.swatches
/Tools/TestFresnel/obj
/Tools/TestFresnel/bin

/Resources/Scenes/Sponza/.mayaSwatches/*.swatches
/Packages/FBXImporterManaged/Release (SDK v2011.3.1)
/Packages/FBXImporterManaged/Debug (SDK v2011.3.1)
/Resources/Scenes/Sponza/TexturesPOM/background.pom
/Resources/Scenes/Sponza/TexturesPOM/background_ddn.pom
/Resources/Scenes/Sponza/TexturesPOM/chain_texture.pom
/Resources/Scenes/Sponza/TexturesPOM/chain_texture_ddn.pom
/Resources/Scenes/Sponza/TexturesPOM/chain_texture_mask.pom
/Resources/Scenes/Sponza/TexturesPOM/lion.pom
/Resources/Scenes/Sponza/TexturesPOM/lion2_ddn.pom
/Resources/Scenes/Sponza/TexturesPOM/lion_ddn.pom
/Resources/Scenes/Sponza/TexturesPOM/spnza_bricks_a_ddn.pom
/Resources/Scenes/Sponza/TexturesPOM/spnza_bricks_a_diff.pom
/Resources/Scenes/Sponza/TexturesPOM/spnza_bricks_a_spec.pom
/Resources/Scenes/Sponza/TexturesPOM/sponza_arch_ddn.pom
/Resources/Scenes/Sponza/TexturesPOM/sponza_arch_diff.pom
/Resources/Scenes/Sponza/TexturesPOM/sponza_arch_spec.pom
/Resources/Scenes/Sponza/TexturesPOM/sponza_ceiling_a_diff.pom
/Resources/Scenes/Sponza/TexturesPOM/sponza_ceiling_a_spec.pom
/Resources/Scenes/Sponza/TexturesPOM/sponza_column_a_ddn.pom
/Resources/Scenes/Sponza/TexturesPOM/sponza_column_a_diff.pom
/Resources/Scenes/Sponza/TexturesPOM/sponza_column_a_spec.pom
/Resources/Scenes/Sponza/TexturesPOM/sponza_column_b_ddn.pom
/Resources/Scenes/Sponza/TexturesPOM/sponza_column_b_diff.pom
/Resources/Scenes/Sponza/TexturesPOM/sponza_column_b_spec.pom
/Resources/Scenes/Sponza/TexturesPOM/sponza_column_c_ddn.pom
/Resources/Scenes/Sponza/TexturesPOM/sponza_column_c_diff.pom
/Resources/Scenes/Sponza/TexturesPOM/sponza_column_c_spec.pom
/Resources/Scenes/Sponza/TexturesPOM/sponza_curtain_blue_diff.pom
/Resources/Scenes/Sponza/TexturesPOM/sponza_curtain_diff.pom
/Resources/Scenes/Sponza/TexturesPOM/sponza_curtain_green_diff.pom
/Resources/Scenes/Sponza/TexturesPOM/sponza_details_diff.pom
/Resources/Scenes/Sponza/TexturesPOM/sponza_details_spec.pom
/Resources/Scenes/Sponza/TexturesPOM/sponza_fabric_blue_diff.pom
/Resources/Scenes/Sponza/TexturesPOM/sponza_fabric_diff.pom
/Resources/Scenes/Sponza/TexturesPOM/sponza_fabric_green_diff.pom
/Resources/Scenes/Sponza/TexturesPOM/sponza_fabric_spec.pom
/Resources/Scenes/Sponza/TexturesPOM/sponza_flagpole_diff.pom
/Resources/Scenes/Sponza/TexturesPOM/sponza_flagpole_spec.pom
/Resources/Scenes/Sponza/TexturesPOM/sponza_floor_a_diff.pom
/Resources/Scenes/Sponza/TexturesPOM/sponza_floor_a_spec.pom
/Resources/Scenes/Sponza/TexturesPOM/sponza_roof_diff.pom
/Resources/Scenes/Sponza/TexturesPOM/sponza_thorn_ddn.pom
/Resources/Scenes/Sponza/TexturesPOM/sponza_thorn_diff.pom
/Resources/Scenes/Sponza/TexturesPOM/sponza_thorn_mask.pom
/Resources/Scenes/Sponza/TexturesPOM/sponza_thorn_spec.pom
/Resources/Scenes/Sponza/TexturesPOM/vase_ddn.pom
/Resources/Scenes/Sponza/TexturesPOM/vase_dif.pom
/Resources/Scenes/Sponza/TexturesPOM/vase_hanging.pom
/Resources/Scenes/Sponza/TexturesPOM/vase_plant.pom
/Resources/Scenes/Sponza/TexturesPOM/vase_plant_mask.pom
/Resources/Scenes/Sponza/TexturesPOM/vase_plant_spec.pom
/Resources/Scenes/Sponza/TexturesPOM/vase_round.pom
/Resources/Scenes/Sponza/TexturesPOM/vase_round_ddn.pom
/Resources/Scenes/Sponza/TexturesPOM/vase_round_spec.pom
/Resources/Scenes/Sponza/Probes/Probe01.pom
/Resources/Scenes/Sponza/Probes/Probe02.pom
/Resources/Scenes/Sponza/Probes/Probe03.pom
/Resources/Scenes/Sponza/Probes/Probe04.pom
/Resources/Scenes/Sponza/Probes/Probe05.pom
/Resources/Scenes/Sponza/Probes/Probe06.pom
/Resources/Scenes/Sponza/Probes/Probe07.pom
/Resources/Scenes/Sponza/Probes/Probe08.pom
/Resources/Scenes/Sponza/Probes/Probe09.pom
/Resources/Scenes/Sponza/Probes/Probe10.pom
/Resources/Scenes/Sponza/Probes/Probe11.pom
/Resources/Scenes/Sponza/Probes/Probe12.pom
/Resources/Scenes/Sponza/Probes/Probe13.pom
/Resources/Scenes/Sponza/Probes/Probe14.pom
/Resources/Scenes/Sponza/Probes/Probe15.pom
/Resources/Scenes/Sponza/Probes/Probe16.pom
/Resources/Scenes/Sponza/Probes/Probe17.pom
/Resources/Scenes/Sponza/Probes/Probe18.pom
/Resources/Scenes/Sponza/Probes/Probe19.pom
/Resources/Scenes/Sponza/Probes/Probe20.pom
/Resources/Scenes/Sponza/Probes/Probe21.pom
/Resources/Scenes/Sponza/Probes/Probe22.pom
/Resources/Scenes/Sponza/Probes/Probe23.pom
/Resources/Scenes/Sponza/Probes/Probe24.pom
/Resources/Scenes/Sponza/Probes/Probe25.pom
/Resources/Scenes/Sponza/Probes/Probe26.pom
/Resources/Scenes/Sponza/Probes/Probe27.pom
/Resources/Scenes/Sponza/Probes/Probe28.pom
/Resources/Scenes/Sponza/Probes/Probe29.pom
/Resources/Scenes/Sponza/Probes/Probe30.pom
/Resources/Scenes/Sponza/Probes/Probe31.pom
/Resources/Scenes/Sponza/Probes/Probe32.pom
/Resources/Scenes/Sponza/Probes/Probe33.pom
/Resources/Scenes/Sponza/Probes/Probe34.pom
/Resources/Scenes/Sponza/Probes/Probe35.pom
/Resources/Scenes/Sponza/Probes/Probe36.pom
/Resources/Scenes/Sponza/Probes/Probe37.pom
/Resources/Scenes/Sponza/Probes/Probe38.pom
/Resources/Scenes/Sponza/Probes/Probe39.pom
/Resources/Scenes/Sponza/Probes/Probe40.pom
/Resources/Scenes/Sponza/Probes/Probe41.pom
/Resources/Scenes/Sponza/Probes/Probe42.pom
/Resources/Scenes/Sponza/Probes/Probe43.pom
/Resources/Scenes/Sponza/Probes/Probe44.pom
/Resources/Scenes/Sponza/Probes/Probe45.pom
/Resources/Scenes/Sponza/Probes/Probe46.pom
/Resources/Scenes/Sponza/Probes/Probe47.pom
/Resources/Scenes/Sponza/Sponza_ProbeID.vertexStream.U16

/Tools/StandardizedDiffuseAlbedoMaps/Camera Calibration
/Tools/StandardizedDiffuseAlbedoMaps/Camera Calibration.7z
/Packages/FreeImage3160.zip
/Tools/StandardizedDiffuseAlbedoMaps/Standard Reflectances
/Packages/LibRaw-0.16.0/LibRaw.opensdf
/Packages/LibRaw-0.16.0/LibRaw.pro
/Packages/LibRaw-0.16.0/LibRaw.sdf
/Packages/LibRaw-0.16.0/LibRaw.suo
/Packages/LibRawManaged/Debug
/Packages/LibRawManaged/Release
/Packages/dcpTool_1_4_0/Documentation
/Packages/dcpTool_1_4_0/Debug
/Packages/dcpTool_1_4_0/libxml2/libxml2-2.7.8.win32.zip
/Packages/dcpTool_1_4_0/dcpTool.opensdf
/Packages/dcpTool_1_4_0/dcpTool.sdf
/Packages/dcpTool_1_4_0/dcpTool.sln.old
/Packages/dcpTool_1_4_0a.zip
/Packages/RendererManaged/Release
/Packages/RendererManaged/Debug
/Packages/FBXImporterManaged/Debug DirectX10/*.cache
/Packages/FBXImporterManaged/Debug DirectX10/*.tlog
/Packages/LibRawManaged/Debug DirectX10/*.tlog
/Packages/RendererManaged/Debug DirectX10/*.tlog
/Tools/DirectXTexManaged/Debug DirectX10/*.tlog
/Packages/RendererManaged/Debug DirectX10/*.cache
/Debug DirectX10
/Packages/RendererManaged/Debug DirectX10
/RendererD3D11/Debug
/Packages/RendererManaged/Release DirectX10
/RendererD3D11/Release
/Tests/TestDevice/Debug
/Tests/TestDevice/Release
/Packages/FBXImporterManaged/Debug DirectX10
/Packages/LibRawManaged/Debug DirectX10
/Tools/DirectXTexManaged/Debug DirectX10
/Utility/SHProbeEncoder/\[Originals\]/IMG_0661.JPG
/Tools/*.pdb
/Tools/RendererManaged.dll
/Tools/GenerateSelfShadowedBumpMap/eye_generic_01_disp_hl2.png
/Tools/GenerateSelfShadowedBumpMap/eye_generic_01_disp_hl2_100rays.png
/Tools/GenerateSelfShadowedBumpMap/eye_generic_01_disp_hl2_40rays.png
/Tools/TestMSBSDF/Docs/Stephane's Notes
/Tools/TestMSBSDF/Docs/2014 Heitz - Apparence multi-échelles pour le rendu réaliste et efficace des surfaces complexes (thesis).pdf
/Tools/TestMSBSDF/Publish
/*.opensdf
/*.sdf
/*.suo
/Tools/ShaderToy/Publish
/Tools/SharpMath.dll
/Tools/BRDFLafortuneFitting.exe
/Tools/BRDFSlices.exe
/Tools/Cirrus.Utility.dll
/Tools/TestFilmCurve/Publish/Cirrus.Utility.dll
/Tools/TestFilmCurve/Publish/DirectXTexManaged.dll
/Tools/TestFilmCurve/Publish/RendererManaged.dll
/Tools/TestFilmCurve/Publish/SharpMath.dll
/Tools/TestFilmCurve/Publish/TestFilmCurve.exe
/Tools/TestFilmCurve/Publish/ToneMapping.rar
/Tools/TestFilmCurve/default.xml
/Packages/FBXImporterManaged/Release
/Tools/GenerateAmbientOcclusionMap/Publish
/Tools/GenerateSelfShadowedBumpMap/Publish
/Tools/ImageSizeChecker/Publish
/Packages/FBXImporterManaged/Release (SDK v2011.3.1)
/Packages/FBXImporterManaged/Debug (SDK v2011.3.1)
/Packages/FBXImporterManaged/Release
/Tools/MaterialsOptimizer/MaterialsOptimizer
/Tools/MaterialsOptimizer/MaterialsOptimizer.zip
/Packages/LibRaw-0.16.0/buildfiles/*.vcproj
/Packages/LibRaw-0.16.0/buildfiles/*.pro
/Packages/LibRaw-0.16.0/buildfiles/*.user
/Packages/LibRaw-0.16.0/build
/build
/Packages/ImageUtility/obj
/Packages/ImageUtility/bin
/Packages/LibRaw-0.16.0/LibRaw.v11.suo
/Packages/LibRaw-0.16.0/bin/.keep_me
/Packages/LibRaw-0.16.0/bin/Debug/4channels.ilk
/Packages/LibRaw-0.16.0/bin/Debug/4channels.pdb
/Packages/LibRaw-0.16.0/bin/Debug/dcraw_emu.ilk
/Packages/LibRaw-0.16.0/bin/Debug/dcraw_emu.pdb
/Packages/LibRaw-0.16.0/bin/Debug/dcraw_half.ilk
/Packages/LibRaw-0.16.0/bin/Debug/dcraw_half.pdb
/Packages/LibRaw-0.16.0/bin/Debug/half_mt.ilk
/Packages/LibRaw-0.16.0/bin/Debug/half_mt.pdb
/Packages/LibRaw-0.16.0/bin/Debug/mem_image.ilk
/Packages/LibRaw-0.16.0/bin/Debug/mem_image.pdb
/Packages/LibRaw-0.16.0/bin/Debug/multirender_test.ilk
/Packages/LibRaw-0.16.0/bin/Debug/multirender_test.pdb
/Packages/LibRaw-0.16.0/bin/Debug/postprocessing_benchmark.ilk
/Packages/LibRaw-0.16.0/bin/Debug/postprocessing_benchmark.pdb
/Packages/LibRaw-0.16.0/bin/Debug/raw-identify.ilk
/Packages/LibRaw-0.16.0/bin/Debug/raw-identify.pdb
/Packages/LibRaw-0.16.0/bin/Debug/simple_dcraw.ilk
/Packages/LibRaw-0.16.0/bin/Debug/simple_dcraw.pdb
/Packages/LibRaw-0.16.0/bin/Debug/unprocessed_raw.ilk
/Packages/LibRaw-0.16.0/bin/Debug/unprocessed_raw.pdb
/Packages/LibRaw-0.16.0/object/dcraw_common.obj
/Packages/LibRaw-0.16.0/object/dcraw_fileio.obj
/Packages/LibRaw-0.16.0/object/demosaic_packs.obj
/Packages/LibRaw-0.16.0/object/libraw_c_api.obj
/Packages/LibRaw-0.16.0/object/libraw_cxx.obj
/Packages/LibRaw-0.16.0/object/libraw_datastream.obj
/Tools/AlbedoDatabaseGenerator/obj
/Tools/AlbedoDatabaseGenerator/bin
/Tools/VoronoiVisualizer/bin
/Tools/AlbedoDatabaseGenerator/bin
/Tools/BImageViewer/bin
/Tools/BRDFLafortuneFitting/bin
/Tools/BRDFLafortuneFitting2/bin
/Tools/BRDFSlices/bin
/Tools/ConcatenateShaders/bin
/Tools/ControlPanelGlobalIllumination/bin
/Tools/Cooker/bin
/Tools/DebugVoronoiPlanes/bin
/Tools/DirectoryCompressor/bin
/Tools/FBXTestConverter/bin
/Tools/GCXFormat/bin
/Tools/GenerateAmbientOcclusionMap/bin
/Tools/GenerateEyeCaustics/bin
/Tools/GenerateSelfShadowedBumpMap/bin
/Tools/GenerateTranslucencyMap/bin
/Tools/GIProbesDebugger/bin
/Tools/GloubiBoule/bin
/Tools/HDR2RAW/bin
/Tools/HDRCubeMapConvolver/bin
/Tools/idTech5MapSceneLoader/bin
/Tools/ImageSizeChecker/bin
/Tools/ImprovedNormalMapDistribution/bin
/Tools/Map2GCX/bin
/Tools/MaterialsOptimizer/bin
/Tools/Mie2QuantileFunction/bin
/Tools/MotionTextureComputer/bin
/Tools/NormalDistributionLobeViewer/bin
/Tools/OceanWaveComputer/bin
/Tools/OfflineCloudRenderer/bin
/Tools/OfflineCloudRenderer2/bin
/Tools/PhilBackup/bin
/Tools/PNG2RAW/bin
/Tools/ProbeSHEncoder/bin
/Tools/ProbeSHEncoderGPU/bin
/Tools/Project4D/bin
/Tools/ShaderInterpreter/bin
/Tools/ShaderToy/bin
/Tools/SHZHConvolutionViewer/bin
/Tools/sRGBLinearConverter/bin
/Tools/StandardizedDiffuseAlbedoMaps/bin
/Tools/TestAreaLight/bin
/Tools/TestBinaryTreeIntersect/bin
/Tools/TestBoxFitting/bin
/Tools/TestConvexHull/bin
/Tools/TestDCT/bin
/Tools/TestFerroFluids/bin
/Tools/TestFilmCurve/bin
/Tools/TestFresnel/bin
/Tools/TestGenerateFarDistanceField/bin
/Tools/TestGenerateFarDistanceField2/bin
/Tools/TestGradientPNG/bin
/Tools/TestImportanceSampling/bin
/Tools/TestMemoryMappedFiles/bin
/Tools/TestMSBSDF/bin
/Tools/TestVonMisesFisher/bin
/Tools/VoronoiVisualizer/obj
/Tools/AlbedoDatabaseGenerator/obj
/Tools/BImageViewer/obj
/Tools/BRDFLafortuneFitting/obj
/Tools/BRDFLafortuneFitting2/obj
/Tools/BRDFSlices/obj
/Tools/ConcatenateShaders/obj
/Tools/ControlPanelGlobalIllumination/obj
/Tools/Cooker/obj
/Tools/DebugVoronoiPlanes/obj
/Tools/DirectoryCompressor/obj
/Tools/FBXTestConverter/obj
/Tools/GCXFormat/obj
/Tools/GenerateAmbientOcclusionMap/obj
/Tools/GenerateEyeCaustics/obj
/Tools/GenerateSelfShadowedBumpMap/obj
/Tools/GenerateTranslucencyMap/obj
/Tools/GIProbesDebugger/obj
/Tools/GloubiBoule/obj
/Tools/HDR2RAW/obj
/Tools/HDRCubeMapConvolver/obj
/Tools/idTech5MapSceneLoader/obj
/Tools/ImageSizeChecker/obj
/Tools/ImprovedNormalMapDistribution/obj
/Tools/Map2GCX/obj
/Tools/MaterialsOptimizer/obj
/Tools/Mie2QuantileFunction/obj
/Tools/MotionTextureComputer/obj
/Tools/NormalDistributionLobeViewer/obj
/Tools/OceanWaveComputer/obj
/Tools/OfflineCloudRenderer/obj
/Tools/OfflineCloudRenderer2/obj
/Tools/PhilBackup/obj
/Tools/PNG2RAW/obj
/Tools/ProbeSHEncoder/obj
/Tools/ProbeSHEncoderGPU/obj
/Tools/Project4D/obj
/Tools/ShaderInterpreter/obj
/Tools/ShaderToy/obj
/Tools/SHZHConvolutionViewer/obj
/Tools/sRGBLinearConverter/obj
/Tools/StandardizedDiffuseAlbedoMaps/obj
/Tools/TestAreaLight/obj
/Tools/TestBinaryTreeIntersect/obj
/Tools/TestBoxFitting/obj
/Tools/TestConvexHull/obj
/Tools/TestDCT/obj
/Tools/TestFerroFluids/obj
/Tools/TestFilmCurve/obj
/Tools/TestFresnel/obj
/Tools/TestGenerateFarDistanceField/obj
/Tools/TestGenerateFarDistanceField2/obj
/Tools/TestGradientPNG/obj
/Tools/TestImportanceSampling/obj
/Tools/TestMemoryMappedFiles/obj
/Tools/TestMSBSDF/obj
/Tools/TestVonMisesFisher/obj
/Packages/tbb2017_20161004oss_win
/Packages/FreeImage3170/Win32
/Packages/FreeImage3170/x64
/Packages/FreeImage3170/FreeImage.2013.opensdf
/Packages/FreeImage3170/FreeImage.2013.sdf
/Packages/FreeImage3170/FreeImage.2013.v11.suo
/Packages/FreeImage3170/Source/FreeImageLib/Win32
/Packages/FreeImage3170/Source/FreeImageLib/x64
/Packages/FreeImage3170/Source/LibJPEG/x64
/Packages/FreeImage3170/Source/LibJPEG/Win32
/Packages/FreeImage3170/Source/LibJXR/x64
/Packages/FreeImage3170/Source/LibJXR/Win32
/Packages/FreeImage3170/Source/LibOpenJPEG/Win32
/Packages/FreeImage3170/Source/LibOpenJPEG/x64
/Packages/FreeImage3170/Source/LibPNG/x64
/Packages/FreeImage3170/Source/LibPNG/Win32
/Packages/FreeImage3170/Source/LibRawLite/x64
/Packages/FreeImage3170/Source/LibRawLite/Win32
/Packages/FreeImage3170/Source/LibTIFF4/x64
/Packages/FreeImage3170/Source/LibTIFF4/Win32
/Packages/FreeImage3170/Source/LibWebP/x64
/Packages/FreeImage3170/Source/LibWebP/Win32
/Packages/FreeImage3170/Source/OpenEXR/x64
/Packages/FreeImage3170/Source/OpenEXR/Win32
/Packages/FreeImage3170/Source/ZLib/x64
/Packages/FreeImage3170/Source/ZLib/Win32
/Packages/FreeImage3170/Wrapper/FreeImagePlus/x64
/Packages/FreeImage3170/Wrapper/FreeImagePlus/Win32
/Packages/ImageUtilityManaged/x64
/Packages/FreeImage3170/Dist/x64/Debug/FreeImageLibd.lib
/Packages/FreeImage3170/Dist/x64/Release/FreeImageLib.lib
/Packages/opencv-2.4.13.exe
/Packages/OpenCV
/Packages/_Unit Tests/TestImageUtility/bin
/Packages/_Unit Tests/TestImageUtility/obj
/Packages/_Unit Tests/TestRendererLib/obj
/Tools/TestSHIrradiance/bin
/Tools/TestSHIrradiance/obj
/Tools/TestSHIrradiance/Images/grace-new.hdr
/Tools/TestFourier/obj
/Tools/TestFourier/bin
/Packages/MathFFT/bin
/Packages/MathFFT/obj
/Tools/GenerateTranslucencyMap/Publish
/Images/In/TIFF
/Images/In/BMP
/Images/In/CRW
/Images/In/HDR
/Images/In/LDR2HDR
/Images/In/TGA
/Images/Out/LDR2HDR
/Packages/_Unit Tests/TestFourier/obj
/Packages/_Unit Tests/TestFourier/bin
/Tools/GenerateBlueNoise/obj
/Tools/GenerateBlueNoise/bin
/Tools/GenerateBlueNoise/Images/Data/256_256
/Tools/GenerateBlueNoise/Images/Data/1024_1024
/Tools/GenerateBlueNoise/Images/Data/16_16
/Tools/GenerateBlueNoise/Images/Data/32_32
/Tools/GenerateBlueNoise/Images/Data/64_64
/Tools/GenerateBlueNoise/Images/Data/128_128
/Tools/GenerateBlueNoise/Images/Data/512_512/LDR_RGBA_0.png
/Tools/GenerateBlueNoise/Images/Data/512_512/LDR_RG01_0.png
/Tools/GenerateBlueNoise/Images/Data/512_512/LDR_RGB1_0.png
/Packages/_Unit Tests/TestFourier/Publish
/Tools/GenerateBlueNoise/Publish
/Tools/ConvertNormalMap2HeightMap/obj
/Tools/ConvertNormalMap2HeightMap/bin
/Tests/TestVoxelConeTracing/obj
/Tests/TestVoxelConeTracing/bin
/Tests/TestBinaryTreeIntersect/obj
/Tests/TestBinaryTreeIntersect/bin
/Tests/TestFerroFluids/bin
/Tests/TestVoxelConeTracing/bin
/Tests/TestSHIrradiance/bin
/Tests/TestFresnel/bin
/Tests/TestVonMisesFisher/bin
/Tests/TestMSBSDF/bin
/Tests/TestGenerateFarDistanceField2/bin
/Tests/TestGenerateFarDistanceField/bin
/Tests/TestConvexHull/bin
/Tests/TestBoxFitting/bin
/Tests/TestBinaryTreeIntersect/bin
/Tests/TestMemoryMappedFiles/bin
/Tests/TestImportanceSampling/bin
/Tests/TestGradientPNG/bin
/Tests/TestDCT/bin
/Tests/TestFilmCurve/bin
/Tests/TestFerroFluids/obj
/Tests/TestVonMisesFisher/obj
/Tests/TestVoxelConeTracing/obj
/Tests/TestFilmCurve/obj
/Tests/TestFresnel/obj
/Tests/TestSHIrradiance/obj
/Tests/TestMSBSDF/obj
/Tests/TestGenerateFarDistanceField2/obj
/Tests/TestGenerateFarDistanceField/obj
/Tests/TestConvexHull/obj
/Tests/TestBoxFitting/obj
/Tests/TestBinaryTreeIntersect/obj
/Tests/TestMemoryMappedFiles/obj
/Tests/TestImportanceSampling/obj
/Tests/TestGradientPNG/obj
/Tests/TestDCT/obj
/Tests/TestMSBSDF/Publish
/Tests/TestFilmCurve/Publish
/Tests/TestAreaLight/obj
/Tests/TestAreaLight/bin
/Tests/TestVoxelConeTracing/*.user
/Tests/CodinGame/bin
/Tests/CodinGame/obj
/Packages/R-2.12.1
/Tests/TestToksvig/obj
/Tests/TestPathTracing/obj
/Tests/TestPathTracing/bin
/Tests/TestVoxelAutomaton/*.user
/Tests/TestVoxelAutomaton/bin
/Tests/TestVoxelAutomaton/obj
