
/Debug
/DebugPackedShaders
/Release
/GodComplex.opensdf
/GodComplex.sdf
/Tools/GodComplex.exe
/Tools/GodComplex_PACKED.exe
/.gitignore
/Tools/ConcatenateShaders/bin
/Tools/ConcatenateShaders/obj
/Packages/Cirrus.Utility/bin
/Packages/Cirrus.Utility/obj
/Packages/SharpMath/Debug
/Packages/SharpMath/obj
/Packages/SharpMath/Release
/Packages/SphericalHarmonicsLibrary/bin
/Packages/SphericalHarmonicsLibrary/obj
/Tools/TestFerroFluids/bin
/Tools/TestFerroFluids/obj
/Tools/PNG2RAW/obj
/Tools/PNG2RAW/bin
/Tools/BRDFLafortuneFitting/bin
/Tools/BRDFLafortuneFitting/obj
/Tools/BRDFLafortuneFitting.pdb
/Tools/BRDFLafortuneFitting.vshost.exe
/Tools/SharpMath.pdb
/Tools/TestBRDF/aluminium.binary
/Tools/BRDFLafortuneFitting2/bin
/Tools/BRDFLafortuneFitting2/obj
/Tools/BRDFSlices/obj
/Tools/PhilBackup/obj
/Tools/PhilBackup/bin
/Tools/BRDFSlices.vshost.exe.manifest
/Tools/GodComplex_PACKED.rar
/Tools/Intersections256x256.double
/Tools/Intersections256x256.float
/Tools/Intersections64x64.double
/Tools/Intersections64x64.float
/Tools/TestBRDF/aluminium.cos
/Debug Workshop
/Tools/PNG2RAW/LayeredMaterial0-Height.png
/Tools/PNG2RAW/LayeredMaterial0-Height.raw
/Tools/PNG2RAW/LayeredMaterial0-Layer0.png
/Tools/PNG2RAW/LayeredMaterial0-Layer0.raw
/Tools/PNG2RAW/LayeredMaterial0-Layer1.png
/Tools/PNG2RAW/LayeredMaterial0-Layer1.raw
/Tools/PNG2RAW/LayeredMaterial0-Layer2.png
/Tools/PNG2RAW/LayeredMaterial0-Layer2.raw
/Tools/PNG2RAW/LayeredMaterial0-Layer3.png
/Tools/PNG2RAW/LayeredMaterial0-Layer3.raw
/Tools/PNG2RAW/LayeredMaterial0-Specular.png
/Tools/PNG2RAW/LayeredMaterial0-Specular.raw
/Tools/PNG2RAW/PlankForNormals.png
/TestDevice
/Tools/HDR2RAW/bin
/Tools/HDR2RAW/obj
/Tools/HDR2RAW/doge2.hdr
/Tools/HDR2RAW/doge2_1024x512.float
/Tools/HDR2RAW/doge2_1024x512.hdr
/Tools/HDR2RAW/ennis_1024x512.float
/Tools/HDR2RAW/ennis_1024x512.hdr
/Tools/HDR2RAW/grace-new.hdr
/Tools/HDR2RAW/grace-new_1024x512.float
/Tools/HDR2RAW/grace-new_1024x512.hdr
/Tools/HDR2RAW/pisa.hdr
/Tools/HDR2RAW/pisa_1024x512.float
/Tools/HDR2RAW/pisa_1024x512.hdr
/Tools/HDR2RAW/uffizi-large.hdr
/Tools/PNG2RAW/LayeredMaterial1-Height.raw
/Tools/PNG2RAW/LayeredMaterial1-Layer0.raw
/Tools/PNG2RAW/LayeredMaterial1-Layer3.raw
/Tools/PNG2RAW/LayeredMaterial1-Specular.raw
/Tools/PNG2RAW/LayeredMaterial2-Height.png
/Tools/PNG2RAW/LayeredMaterial2-Layer0.png
/Tools/PNG2RAW/LayeredMaterial2-Layer1.png
/Tools/PNG2RAW/LayeredMaterial3-Height.png
/Tools/PNG2RAW/LayeredMaterial3-Layer0.png
/Tools/PNG2RAW/LayeredMaterial3-Layer1.png
/Tools/PNG2RAW/LayeredMaterial3-Layer2.png
/Tools/PNG2RAW/LayeredMaterial3-Layer3.png
/Tools/PNG2RAW/LayeredMaterial3-Specular.png
/Tools/TestImportanceSampling/obj
/Tools/TestImportanceSampling/bin
/Tools/TestDCT/obj
/Tools/TestDCT/bin
/CellularNoise.float
/Contention On 2nd DrawZ.nvgfxtimings
/GodComplex.vcxproj.patapom.nvuser
/GodComplex2012.sdf
/Graphics Experiment.vsglog
/Tools/TestMemoryMappedFiles/bin
/Tools/TestMemoryMappedFiles/obj
/Tools/FBXConverter/Debug
/Packages/SharpMath/bin/x64/Debug/SharpMath.dll
/Packages/SharpMath/bin/x64/Debug/SharpMath.pdb
/Tools.opensdf
/Tools.sdf
/Packages/FBXImporterManaged/Debug
/Packages/FBXImporterManaged/Release
/Packages/FBXSceneLoader/bin
/Packages/FBXSceneLoader/obj
/Packages/FBXImporterManaged/x64
/Runtime/*.pdb
/Runtime/*.pdb

/Runtime/FBXImporterManaged.dll.metagen
/Runtime/FBXImporterManaged.ilk

/Runtime/FBXImporterManaged.dll
/Runtime/SharpMath.dll
/Packages/DirectXTex/DirectXTex/Bin
/Tools/DirectXTexManaged/x64
/Tools/DirectXTexManaged/Debug
/Tools/DirectXTexManaged/Release
/Tools/HDRCubeMapConvolver/obj
/Tools/HDRCubeMapConvolver/bin
/Tools/TestFilmCurve/obj
/Tools/TestFilmCurve/bin
/Tools/TestGradientPNG/obj
/Tools/TestGradientPNG/bin
/x64
/Tools/FBXTestConverter/obj
/Tools/FBXTestConverter/bin
/Tools/FBXConverter/x64
/Packages/FFTWLib/obj
/Packages/FFTWLib/bin
/Tools/BRDFSlices/bin
/Tools/MotionTextureComputer/obj
/Tools/MotionTextureComputer/bin

/Resources/Scenes/patascene.rar
/Resources/Scenes/GITest0/.mayaSwatches

/Resources/Scenes/GITest1/pata_diff_colo.png

/Resources/Scenes/CubeTest/.mayaSwatches/*.swatches

/Packages/FBXImporterManaged/Release (SDK v2011.3.1)/*.cache
/Tools/Cooker/bin
/Tools/Cooker/obj
/Packages/SharpMath/bin
/Tools/HDRCubeMapConvolver/HDRCubeMapConvolver

/Tools/HDRCubeMapConvolver/HDRCubeMapConvolver.7z
/Tools/ShaderInterpreter/obj
/Tools/ShaderInterpreter/bin
/Packages/SharpMath/Workshop.Math.dll
/Packages/SharpMath/Workshop.Math.pdb
/Packages/SphericalHarmonicsLibrary/ZonalHarmonicsFittingTest/obj/Debug/ZonalHarmonicsFittingTest.pdb

/GodComplex.suo
/Tools.suo
/Tools.v11.suo

/GodComplex2012.v11.suo
/Packages/FBXSceneLoader/fbx_whitepaper_nov2007.pdf
/Resources/Shaders/VolumetricPreComputeAtmospherePS - Before Distance Modifs.hlsl

/Tools/BRDFSlices.pdb
/Tools/Cirrus.Utility.pdb
/Tools/ProbeSHEncoder/bin
/Tools/ProbeSHEncoder/obj
/Tools/NormalDistributionLobeViewer/obj
/Tools/NormalDistributionLobeViewer/bin
/Packages/FBXImporterManaged/Release (SDK v2011.3.1)
/Packages/FBXImporterManaged/Debug (SDK v2011.3.1)
/Packages/FBXImporterManaged/Release

/Resources/Scenes/GITest1/.mayaSwatches/*.swatches
/Tools/TestFresnel/obj
/Tools/TestFresnel/bin
bin
obj

/Resources/Scenes/Sponza/.mayaSwatches/*.swatches
/Packages/FBXImporterManaged/Release (SDK v2011.3.1)
/Packages/FBXImporterManaged/Debug (SDK v2011.3.1)
/Resources/Scenes/Sponza/TexturesPOM/background.pom
/Resources/Scenes/Sponza/TexturesPOM/background_ddn.pom
/Resources/Scenes/Sponza/TexturesPOM/chain_texture.pom
/Resources/Scenes/Sponza/TexturesPOM/chain_texture_ddn.pom
/Resources/Scenes/Sponza/TexturesPOM/chain_texture_mask.pom
/Resources/Scenes/Sponza/TexturesPOM/lion.pom
/Resources/Scenes/Sponza/TexturesPOM/lion2_ddn.pom
/Resources/Scenes/Sponza/TexturesPOM/lion_ddn.pom
/Resources/Scenes/Sponza/TexturesPOM/spnza_bricks_a_ddn.pom
/Resources/Scenes/Sponza/TexturesPOM/spnza_bricks_a_diff.pom
/Resources/Scenes/Sponza/TexturesPOM/spnza_bricks_a_spec.pom
/Resources/Scenes/Sponza/TexturesPOM/sponza_arch_ddn.pom
/Resources/Scenes/Sponza/TexturesPOM/sponza_arch_diff.pom
/Resources/Scenes/Sponza/TexturesPOM/sponza_arch_spec.pom
/Resources/Scenes/Sponza/TexturesPOM/sponza_ceiling_a_diff.pom
/Resources/Scenes/Sponza/TexturesPOM/sponza_ceiling_a_spec.pom
/Resources/Scenes/Sponza/TexturesPOM/sponza_column_a_ddn.pom
/Resources/Scenes/Sponza/TexturesPOM/sponza_column_a_diff.pom
/Resources/Scenes/Sponza/TexturesPOM/sponza_column_a_spec.pom
/Resources/Scenes/Sponza/TexturesPOM/sponza_column_b_ddn.pom
/Resources/Scenes/Sponza/TexturesPOM/sponza_column_b_diff.pom
/Resources/Scenes/Sponza/TexturesPOM/sponza_column_b_spec.pom
/Resources/Scenes/Sponza/TexturesPOM/sponza_column_c_ddn.pom
/Resources/Scenes/Sponza/TexturesPOM/sponza_column_c_diff.pom
/Resources/Scenes/Sponza/TexturesPOM/sponza_column_c_spec.pom
/Resources/Scenes/Sponza/TexturesPOM/sponza_curtain_blue_diff.pom
/Resources/Scenes/Sponza/TexturesPOM/sponza_curtain_diff.pom
/Resources/Scenes/Sponza/TexturesPOM/sponza_curtain_green_diff.pom
/Resources/Scenes/Sponza/TexturesPOM/sponza_details_diff.pom
/Resources/Scenes/Sponza/TexturesPOM/sponza_details_spec.pom
/Resources/Scenes/Sponza/TexturesPOM/sponza_fabric_blue_diff.pom
/Resources/Scenes/Sponza/TexturesPOM/sponza_fabric_diff.pom
/Resources/Scenes/Sponza/TexturesPOM/sponza_fabric_green_diff.pom
/Resources/Scenes/Sponza/TexturesPOM/sponza_fabric_spec.pom
/Resources/Scenes/Sponza/TexturesPOM/sponza_flagpole_diff.pom
/Resources/Scenes/Sponza/TexturesPOM/sponza_flagpole_spec.pom
/Resources/Scenes/Sponza/TexturesPOM/sponza_floor_a_diff.pom
/Resources/Scenes/Sponza/TexturesPOM/sponza_floor_a_spec.pom
/Resources/Scenes/Sponza/TexturesPOM/sponza_roof_diff.pom
/Resources/Scenes/Sponza/TexturesPOM/sponza_thorn_ddn.pom
/Resources/Scenes/Sponza/TexturesPOM/sponza_thorn_diff.pom
/Resources/Scenes/Sponza/TexturesPOM/sponza_thorn_mask.pom
/Resources/Scenes/Sponza/TexturesPOM/sponza_thorn_spec.pom
/Resources/Scenes/Sponza/TexturesPOM/vase_ddn.pom
/Resources/Scenes/Sponza/TexturesPOM/vase_dif.pom
/Resources/Scenes/Sponza/TexturesPOM/vase_hanging.pom
/Resources/Scenes/Sponza/TexturesPOM/vase_plant.pom
/Resources/Scenes/Sponza/TexturesPOM/vase_plant_mask.pom
/Resources/Scenes/Sponza/TexturesPOM/vase_plant_spec.pom
/Resources/Scenes/Sponza/TexturesPOM/vase_round.pom
/Resources/Scenes/Sponza/TexturesPOM/vase_round_ddn.pom
/Resources/Scenes/Sponza/TexturesPOM/vase_round_spec.pom
/Resources/Scenes/Sponza/Probes/Probe01.pom
/Resources/Scenes/Sponza/Probes/Probe02.pom
/Resources/Scenes/Sponza/Probes/Probe03.pom
/Resources/Scenes/Sponza/Probes/Probe04.pom
/Resources/Scenes/Sponza/Probes/Probe05.pom
/Resources/Scenes/Sponza/Probes/Probe06.pom
/Resources/Scenes/Sponza/Probes/Probe07.pom
/Resources/Scenes/Sponza/Probes/Probe08.pom
/Resources/Scenes/Sponza/Probes/Probe09.pom
/Resources/Scenes/Sponza/Probes/Probe10.pom
/Resources/Scenes/Sponza/Probes/Probe11.pom
/Resources/Scenes/Sponza/Probes/Probe12.pom
/Resources/Scenes/Sponza/Probes/Probe13.pom
/Resources/Scenes/Sponza/Probes/Probe14.pom
/Resources/Scenes/Sponza/Probes/Probe15.pom
/Resources/Scenes/Sponza/Probes/Probe16.pom
/Resources/Scenes/Sponza/Probes/Probe17.pom
/Resources/Scenes/Sponza/Probes/Probe18.pom
/Resources/Scenes/Sponza/Probes/Probe19.pom
/Resources/Scenes/Sponza/Probes/Probe20.pom
/Resources/Scenes/Sponza/Probes/Probe21.pom
/Resources/Scenes/Sponza/Probes/Probe22.pom
/Resources/Scenes/Sponza/Probes/Probe23.pom
/Resources/Scenes/Sponza/Probes/Probe24.pom
/Resources/Scenes/Sponza/Probes/Probe25.pom
/Resources/Scenes/Sponza/Probes/Probe26.pom
/Resources/Scenes/Sponza/Probes/Probe27.pom
/Resources/Scenes/Sponza/Probes/Probe28.pom
/Resources/Scenes/Sponza/Probes/Probe29.pom
/Resources/Scenes/Sponza/Probes/Probe30.pom
/Resources/Scenes/Sponza/Probes/Probe31.pom
/Resources/Scenes/Sponza/Probes/Probe32.pom
/Resources/Scenes/Sponza/Probes/Probe33.pom
/Resources/Scenes/Sponza/Probes/Probe34.pom
/Resources/Scenes/Sponza/Probes/Probe35.pom
/Resources/Scenes/Sponza/Probes/Probe36.pom
/Resources/Scenes/Sponza/Probes/Probe37.pom
/Resources/Scenes/Sponza/Probes/Probe38.pom
/Resources/Scenes/Sponza/Probes/Probe39.pom
/Resources/Scenes/Sponza/Probes/Probe40.pom
/Resources/Scenes/Sponza/Probes/Probe41.pom
/Resources/Scenes/Sponza/Probes/Probe42.pom
/Resources/Scenes/Sponza/Probes/Probe43.pom
/Resources/Scenes/Sponza/Probes/Probe44.pom
/Resources/Scenes/Sponza/Probes/Probe45.pom
/Resources/Scenes/Sponza/Probes/Probe46.pom
/Resources/Scenes/Sponza/Probes/Probe47.pom
/Resources/Scenes/Sponza/Sponza_ProbeID.vertexStream.U16

/Tools/StandardizedDiffuseAlbedoMaps/Camera Calibration
/Tools/StandardizedDiffuseAlbedoMaps/Camera Calibration.7z
/Packages/FreeImage3160.zip
/Tools/StandardizedDiffuseAlbedoMaps/Standard Reflectances
/Packages/LibRaw-0.16.0/LibRaw.opensdf
/Packages/LibRaw-0.16.0/LibRaw.pro
/Packages/LibRaw-0.16.0/LibRaw.sdf
/Packages/LibRaw-0.16.0/LibRaw.suo
/Packages/LibRaw-0.16.0/buildfiles
/Packages/LibRawManaged/Debug
/Packages/LibRawManaged/Release
/Packages/dcpTool_1_4_0/Documentation
/Packages/dcpTool_1_4_0/Debug
/Packages/dcpTool_1_4_0/libxml2/libxml2-2.7.8.win32.zip
/Packages/dcpTool_1_4_0/dcpTool.opensdf
/Packages/dcpTool_1_4_0/dcpTool.sdf
/Packages/dcpTool_1_4_0/dcpTool.sln.old
/Packages/dcpTool_1_4_0a.zip
/Packages/RendererManaged/Release
/Packages/RendererManaged/Debug
/Packages/FBXImporterManaged/Debug DirectX10/*.cache
/Packages/FBXImporterManaged/Debug DirectX10/*.tlog
/Packages/LibRawManaged/Debug DirectX10/*.tlog
/Packages/RendererManaged/Debug DirectX10/*.tlog
/Tools/DirectXTexManaged/Debug DirectX10/*.tlog
/Packages/RendererManaged/Debug DirectX10/*.cache
/Debug DirectX10
/Packages/RendererManaged/Debug DirectX10
/RendererD3D11/Debug
/Packages/RendererManaged/Release DirectX10
/RendererD3D11/Release
/Tests/TestDevice/Debug
/Tests/TestDevice/Release
/Packages/FBXImporterManaged/Debug DirectX10
/Packages/LibRawManaged/Debug DirectX10
/Tools/DirectXTexManaged/Debug DirectX10
/Utility/SHProbeEncoder/\[Originals\]/IMG_0661.JPG
/Tools/*.pdb
/Tools/RendererManaged.dll
/Tools/GenerateSelfShadowedBumpMap/eye_generic_01_disp_hl2.png
/Tools/GenerateSelfShadowedBumpMap/eye_generic_01_disp_hl2_100rays.png
/Tools/GenerateSelfShadowedBumpMap/eye_generic_01_disp_hl2_40rays.png
/Tools/TestMSBSDF/Docs/Stephane's Notes
/Tools/TestMSBSDF/Docs/2014 Heitz - Apparence multi-échelles pour le rendu réaliste et efficace des surfaces complexes (thesis).pdf
/Tools/TestMSBSDF/Publish
/*.opensdf
/*.sdf
/*.suo
/Tools/ShaderToy/Publish
/Tools/SharpMath.dll
/Tools/BRDFLafortuneFitting.exe
/Tools/BRDFSlices.exe
/Tools/Cirrus.Utility.dll
/Tools/TestFilmCurve/Publish/Cirrus.Utility.dll
/Tools/TestFilmCurve/Publish/DirectXTexManaged.dll
/Tools/TestFilmCurve/Publish/RendererManaged.dll
/Tools/TestFilmCurve/Publish/SharpMath.dll
/Tools/TestFilmCurve/Publish/TestFilmCurve.exe
/Tools/TestFilmCurve/Publish/ToneMapping.rar
/Tools/TestFilmCurve/default.xml
/Packages/FBXImporterManaged/Release
/Tools/GenerateAmbientOcclusionMap/Publish
/Tools/GenerateSelfShadowedBumpMap/Publish
/Tools/ImageSizeChecker/Publish
